<nav class="navbar">
  <div class="navbar__container">
    <!-- Logo -->
    <a class="navbar__logo" routerLink="/">
      <app-logo style="--logo-size: 30px; --logo-font-size: 20px"></app-logo>
    </a>

    <!-- Toggle -->
    <button class="navbar__toggle" (click)="toggleMenu()">☰</button>

    <!-- Menu -->
    <div class="navbar__menu" [class.navbar__menu--open]="isOpen()">
      <ul class="navbar__links">
        <li>
          <a mat-button class="navbar__link" (click)="navigate(undefined, 'features')"> Features </a>
        </li>

        <li>
          <a mat-button class="navbar__link" (click)="navigate(undefined, 'integrations')">
            Integrations
          </a>
        </li>

        <li>
          <a mat-button class="navbar__link" (click)="navigate('/pricing')"> Pricing </a>
        </li>

        <li>
          <a mat-button class="navbar__link" (click)="navigate('/about')"> About </a>
        </li>
      </ul>

      <div class="navbar__actions">
        <a mat-button class="navbar__login-btn" (click)="navigate('/login')"> Log in </a>

        <a mat-flat-button class="navbar__cta-btn" (click)="navigate('/login')">
          Get started free
        </a>
      </div>
    </div>
  </div>
</nav>
